li {
	list-style-type:  none;
}

#header {
	text-align: center;
	font-size: 30px;
	background-color: darkgrey;
	color: white;
	padding: 50px 30px 20px 30px
}

#header-image {
	max-width: 30%;
	height: auto;
	border-radius: 50%;
}


#portfolio-header {
	text-align: center;
}

.portfolio-subheader {
	text-align: center;

}

.portfolio-item {
	max-width: 256px;
	height: auto;
}

.list-portfolio-item {
	text-align: center;
}

.portfolio-subheader-title {
	border: 2px solid blue;
	border-radius: 25px;
	width: 256px;
	height: auto;
}