<div class="container-fluid">
  <!-- I want the nav bar to stay at the top, but no luck so far. -->

  <a name="#"></a>
  <div id="header"</div>
    <p>Software development. Finance. Games for kids. Automating business processes.</p>
    <%= link_to image_tag("ajhk.jpg", alt: "Andrew Henning-Kolberg", id: "header-image"), '#', target: "_blank" %>
  </div>

  <div class="row bg-dark text-light text-center">
    <div class="col-md-6" id="languages">
      <h3><li class="list-unstyled">Languages and libraries I like:</li></h3>
      <li>Visual Basic (.net, vba), F#, C#</li>
      <li>Ruby & Ruby on Rails</li>
      <li>html, css, javascript</li>
      <li>Python 3</li>
      <li>jQuery</li>
      <li>bash</li>
      <li>R</li>
    </div>
    <div class="col-md-6">
      <h3><li class="list-unstyled">Areas of interest:</li></h3>
      <ul>
        <li>Games for my kid</li>
        <li>Back-end development</li>
        <li>Front-end development</li>
        <li>Automating repetative tasks</li>
      </ul>
    </div>
  </div>
  
  
  <a id="#a-portfolio"></a>   
  <div class="row bg-info">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2 id="portfolio-header">Portfolio</h2>
      <hr>
      <ul class="list-unstyled">
        <!-- Scratch Portfolio section -->
        <li class="portfolio-subheader mb-3">
          <%= link_to image_tag("scratch-og.png", alt: "Scratch", class: "portfolio-subheader-title"), 'https://scratch.mit.edu/studios/4478333/', target: "_blank" %>
        </li>
        <ul>
          <!-- Scratch Train Game item -->
          <li class="list-unstyled">
            <div class="media">
              <div class="media-body">
                <h5 class="mt-0 mb-1"><%= link_to 'Train Game', target: "_blank" %></h5>
                Build train tracks for train cars to drive on.
              </div>
              <%= link_to image_tag("scratch-traingamecover.png", alt: "Scratch Project - Train Game Cover", class: "portfolio-item ml-3 mb-3 border border-secondary"), 'https://scratch.mit.edu/studios/4478333/', target: "_blank" %>             
            </div>
          </li>
          
          <!-- Scratch Paw Patrol Game item -->
          <li class="list-unstyled">
            <div class="media">
              <%= link_to image_tag("scratch-pawpatrolcover.png", alt: "Scratch Project - Paw Patrol Cover", class: "portfolio-item mr-3 mb-3 border border-secondary"), 'https://scratch.mit.edu/projects/217235156/', target: "_blank" %>
              <div class="media-body">
                <h5 class="mt-0 mb-1"><%= link_to 'Paw Patrol', target: "_blank" %></h5>
                A collection of games featuring the characters from Paw Patrol.
              </div>
            </div>
          </li>
          
          <!-- Scratch Advent Calendar Game item -->
          <li class="list-unstyled">
            <div class="media">
              <div class="media-body">
                <h5 class="mt-0 mb-1"><%= link_to 'Advent Calendar', target: "_blank" %></h5>
                Collect toys each day in December, counting up to Christmas.
              </div>
              <%= link_to image_tag("scratch-adventcalendarcover.png", alt: "Scratch Project - Advent Calendar Cover", class: "portfolio-item mr-3 mb-3 border border-secondary"), 'https://scratch.mit.edu/projects/217235156/', target: "_blank" %>              
            </div>
          </li>
        </ul>
        <hr>
        <!-- Visual Basic Portfolio Section -->
        <li class="portfolio-subheader">
          <%= link_to image_tag("visual-basic-header.png", alt: "Visual Basic", class: "portfolio-subheader-title"), 'https://github.com/manik1235?utf8=%E2%9C%93&tab=repositories&q=&type=&language=visual+basic', target: "_blank" %>
        </li>
        <ul>
          <li><a href="#" target="_blank">Filename Changer</a></li>
          <li><a href="#" target="_blank">Funhouse</a></li>
          <li><a href="#" target="_blank">Adventure & Map Maker</li>
          <li><a href="#" target="_blank">Clipboard Manager</li>
        </ul>
        <hr>
        <li class="portfolio-subheader">
          <%= link_to image_tag("python-header.png", alt: "Python", class: "portfolio-subheader-title"), 'https://github.com/manik1235?utf8=%E2%9C%93&tab=repositories&q=&type=&language=python', target: "_blank" %>
        </li>
        <ul>
          <li><a href="https://github.com/manik1235/nm" target="_blank">nm</a></li>
          <li><a href="#" target="_blank">Project2</a></li>
          <li><a href="#" target="_blank">Project3</a></li>
        </ul>
        <hr>
        <li class="portfolio-subheader">
          <%= link_to image_tag("web-header.png", alt: "Web", class: "portfolio-subheader-title"), 'https://github.com/manik1235?utf8=%E2%9C%93&tab=repositories&q=&type=&language=javascript', target: "_blank" %>
        </li>
        <ul>
          <li><a href="https://codepen.io/manik1235/" target="_blank">codepen.io</a></li>
          <li><a href="https://github.com/manik1235/hk-needs" target="_blank">Family Budget and Savings</a></li>
          <li><a href="#" target="_blank">Project3</a></li>
        </ul>
      </ul>
    </div>
    <div class="col-md-3"></div>
  </div>

  <a id="#a-contact"></a>
  <div id="contact-me">
    <form action="./scripts/submit.js" method="post" name="contact-me">
      <fieldset>
        <legend>Contact Me</legend>
        <input type="text" placeholder="Name" autocomplete="name" name="full-name">
        <input type="text" placeholder="Email Address" autocomplete="email" name="email">
        <input type="text" placeholder="Phone Number" autocomplete="tel" name="phone-number">
        <input type="text" placeholder="Message" autocomplete="off" name="message">
        <input type="submit" value="Send me a message!">
      </fieldset>
    </form>
  </div>
</div>
<!-- Optional Javascript --> <!-- I'm not yet sure why it's optional... -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="./scripts/script.js"></script>